html {
  scroll-behavior: smooth;
}

.row {
  margin: 0;
  padding: 0;
}

/* -----------------------------VARIABLES----------------------------- */
nav {
  background-image: linear-gradient(to right, #504e4c, #4b4a48);
}
nav .nav-link:hover {
  border: solid 1px;
  border-color: #eed182;
  border-radius: 3%;
  font-size: 20px;
  transition: all 500ms ease;
}

/* -----------------------------CARDS----------------------------- */
.card {
  margin: auto;
  padding: 2vh;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

.card-img-top {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  margin-top: 5vh;
}

.card-text {
  text-align: center;
}

/* -----------------------------SCROLL----------------------------- */
.animado {
  opacity: 0;
  transition: all 0.8s;
}

.mostrarArriba {
  animation: mostrarArriba 1.5s;
}

@keyframes mostrarArriba {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}
/* -----------------------------BODY----------------------------- */
body .row h2 {
  padding: 20px;
  margin-left: 20px;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding-left: 0;
}

.textos {
  padding: 0 5rem 0 5rem;
}

h4 {
  color: #60d9f7;
}

h5 {
  color: #f0b7b7;
}

.carousel, .carousel-inner {
  max-height: 100%;
  object-fit: scale-down;
}

.carousel-item {
  display: block;
  width: 100%;
  height: 890px;
}

@media screen and (max-width: 800px) {
  .carousel-item {
    height: 25rem;
  }
}
.carousel-caption {
  top: 5%;
}

.parrafo__carousel {
  color: black;
}

.titulos {
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: "Oswald", sans-serif;
}
.titulos:hover {
  transition: all 700ms ease;
  color: #eed182;
  text-decoration: underline;
}

.titulos__contacto {
  color: #e9b014;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.titulos__contacto:hover {
  transition: all 700ms ease;
  color: #eed182;
  text-decoration: underline;
}

.titulos__logros__parrafo {
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

/* -----------------------------BANNER----------------------------- */
.banner1 {
  background: url(../img/banner.jpg);
  float: left;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
.banner1 h3 {
  background: rgba(0, 0, 0, 0.1);
  height: 100%;
  color: #fff;
  box-sizing: border-box;
  padding-top: 10%;
  font-family: "lato", sans-serif;
}

.banner2 {
  background: url(../img/banner2.jpg);
  float: left;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
.banner2 h3 {
  background: rgba(0, 0, 0, 0.1);
  height: 100%;
  color: #fff;
  box-sizing: border-box;
  padding-top: 10%;
  font-family: "lato", sans-serif;
}

/* -----------------------------CONTACTO----------------------------- */
.body__contacto {
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.formulario {
  background: rgba(44, 44, 43, 0.5);
  color: #fff;
  margin-top: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  box-shadow: 7px 14px 40px #1b1b1b;
}

.form-control {
  background: #f1efef;
}

input {
  background: #e0dede;
}

/*----------------------------- FOOTER ----------------------------- */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 17px;
  display: grid;
  justify-items: center;
  padding-bottom: 1em;
  margin-top: 10rem;
}
footer li {
  display: inline-block;
  float: none;
}

.fab {
  color: #817676;
  margin-left: 10px;
}

.fa-instagram:hover, .fa-pinterest-p:hover, .fa-youtube:hover, .fa-twitter:hover, .fa-facebook:hover {
  color: #eed182;
  background-color: transparent;
  font-size: 50px;
  transition: all 500ms ease;
  border: none;
}

.social {
  padding: 0 auto;
}

/* -----------------------------go top -----------------------------*/
.go-top-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3.3rem;
  height: 3.3rem;
  z-index: -1;
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: white;
  transition: 0.4s;
}

.show {
  z-index: 10;
}
.show i {
  transform: translate(-50%, -50%) scale(1);
}

.show .go-top-button {
  animation: popup 0.3s ease-in-out;
  width: 3.3rem;
  height: 3.3rem;
  z-index: 11;
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 4rem;
    height: 4rem;
  }
  100% {
    width: 3.3rem;
    height: 3.3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
